<div class="container">
    <div class="bsRes">
        <div class="row">
            <div class="col-sm-12">
                <h1>{{title}} Page :: The Shiv Sena, the Nationalist Congress Party (NCP) and the Congress have been working on a prospective coalition.</h1>
                
                <p>The Shiv Sena, the Nationalist Congress Party (NCP) and the Congress have been working on a prospective coalition. Maharashtra is currently under President's Rule, which was imposed earlier this month after the two parties that won the state election together -- the Sena and the BJP -- disagreed on a key issue and so couldn't form a government together. Stay tuned to this live blog for the latest updates from Maharashtra.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-8 col-sm-3 col-md-9 col-lg-5 col-xl-6">
                <form [formGroup] = "rctFrm" (ngSubmit) = "displayValues(rctFrm.value)">
                    <table class="table table-bordered">
                        <tr>
                            <th colspan="3">{{title}} :: Form</th>
                        </tr>
                        <tr>
                            <td>Full Name</td>
                            <td>:</td>
                            <td><input type="text" formControlName="fullname" name="fullname" value="" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>Email Address</td>
                            <td>:</td>
                            <td><input type="text" formControlName="emailaddress" name="emailaddress" value="" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>Mobile Number</td>
                            <td>:</td>
                            <td><input type="text" formControlName="mobilenumber" name="mobilenumber" value="" class="form-control" /></td>
                        </tr>
                        <tr>
                            <td>Description</td>
                            <td>:</td>
                            <td><textarea formControlName="description" class="form-control"></textarea></td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <input type="submit" name="submit" value="Submit" class="btn btn-primary" />
                                <input type="reset" name="reset" value="Reset" class="btn btn-warning" />
                            </td>
                        </tr>
                    </table>
                </form>
            </div>
            <div class="col-xs-4 col-sm-9 col-md-3 col-lg-7 col-xl-6">
                <p>Will Maharashtra finally get a new government today? The Shiv Sena, the Nationalist Congress Party (NCP) and the Congress have been working on a prospective coalition. Maharashtra is currently under President's Rule, which was imposed earlier this month after the two parties that won the state election together -- the Sena and the BJP -- disagreed on a key issue and so couldn't form a government together. Stay tuned to this live blog for the latest updates from Maharashtra.</p>

            </div>
        </div>
    </div>
</div>